/* Vertical spacing for items */
ul.toctree-dense li {
    margin-top: 2px !important;
    margin-bottom: 2px !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
ul.toctree-dense li p {
    margin: 0 !important;
}

/* Horizontal indentation for nested lists */
ul.toctree-dense ul {
    padding-left: 1.2rem !important;
    margin-top: 2px !important;
}